@font-face {
    font-family: 'Determination';
    src: url('determination.ttf') format('truetype');
}

* {
    font-family: 'Determination', sans-serif;
    width: 1300px;
    height: 600px;
    border: 4px solid white;
    box-sizing: content-box;
    text-align: center;
    color: white;
    background-color: black;
}