@font-face {
    font-family: 'Determination';
    src: url('determination.ttf') format('truetype');
}

h3,h1 {
    font-family: 'Determination', sans-serif;
    color: white;
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.6), 0 0 30px rgba(255, 255, 255, 0.4);
}

p {
    font-family: 'Determination', sans-serif;
}

body {
    background-attachment: fixed;
}
@font-face {
    font-family: 'DeterminationComicSans';
    src: url('comic-sans.TTF') format('truetype');
}
body {
    background-image: url('background-image.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

h3 {
    color: lightgray;
}